@import "media"
@import "fonts"

.win
    background: url('../img/backgraund-quiz.png') 50% 10%/auto no-repeat
    background-color: #171616
    margin-bottom: 200px
    +_600
        margin-bottom: 50px
    h2 
        display: block
        margin: 162px auto
        text-align: center
        font-family: 'Ghoulish Fright AOE'
        font-style: normal
        font-weight: 400
        font-size: 70px
        line-height: 106%
        text-align: center
        text-transform: uppercase
        background: linear-gradient(90deg, rgba(236, 233, 230, 0.93) 0%, rgba(255, 255, 255, 0.93) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
        +_979
            margin: 102px auto
            +_600
                margin: 50px auto

    .win__container
        max-width: 950px
        width: 100%
        height: auto
        display: flex
        flex-direction: column
        align-items: center
        background: #000000
        box-shadow: 0px 4px 44px 1px rgba(163, 5, 5, 0.12)
        border-radius: 6px
        max-width: 1280px 
        margin: 0 auto
        +_1170
            max-width: 950px
            margin: 0 auto
            +_979
                width: 95%

    
    &__baner 
        margin-top: 35px
        img
            display: block
            width: 95%
            height: auto
            margin: 35px auto 0px
            +_600
                margin: 0 auto

    &__image-item
        margin-top: 35px

    &__text-end
        font-family: 'Calibri'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 106%
        text-transform: uppercase
        color: #FFFFFF
        margin-top: 35px

    &__text 
        font-family: 'Calibri'
        font-style: normal
        font-weight: 400
        font-size: 30px
        line-height: 106%
        color: #FFFFFF
        margin-top: 35px

    &__text-code 
        font-family: 'Calibri'
        font-style: normal
        font-weight: 400
        font-size: 45px
        line-height: 106%
        text-align: center
        text-transform: uppercase
        color: #F59000
        text-shadow: 0px 0px 18px rgba(245, 144, 0, 0.77)
        margin-top: 35px
        
    &__text-two 
        font-family: 'Calibri'
        font-style: normal
        font-weight: 400
        font-size: 28px
        line-height: 106%
        color: #FFFFFF
        margin-top: 35px

    &__bonus 
        font-family: 'Calibri'
        font-style: normal
        font-weight: 400
        font-size: 35px
        line-height: 106%
        text-align: center
        text-transform: uppercase
        color: #F59000
        text-shadow: 0px 0px 18px rgba(245, 144, 0, 0.77)
        margin-top: 35px
        padding: 20px 92px
        border: 7px double rgba(245, 144, 0, 0.77)
        +_600
            padding: 15px 42px

    &__link 
        font-family: 'Ghoulish Fright AOE'
        font-style: normal
        font-weight: 400
        font-size: 35px
        line-height: 106%
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        text-decoration: none
        margin-top: 50px
        display: block
        padding: 16px 0px
        background: linear-gradient(90deg, #E44D26 0%, #F16529 100%)
        border-radius: 30px    
        max-width: 264px
        width: 100%
        &:hover             
            background: linear-gradient(90deg, #F85032 0%, #E73827 100%)

    &__img-footer 
        margin-top: 75px
        +_600
            margin-top: 50px
    
